.header {
    height: 100vh;
    background-image: url(images/Back.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
body {
    margin: 0;
    background-image: url(./images/Background.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-color: rgb(247, 238, 255);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;

}
.content {
    padding-top: 75px;
    border-top: 35px solid black ;
    position: relative;
}
img {
    width: 560px;
    margin: 0;
    padding-bottom: -50px;
}
table {
    margin: auto auto;
    width: 1200px;
    height: 100vh;
    border-collapse: collapse;
}
td, tr {
    text-align: center;
    vertical-align: bottom;
    border: 20px solid rgb(214, 142, 248);
    border-radius: 5px;
}
p {
    width: max-content;
    background-color: white;
    font-size: 20px;
    border-radius: 25px;
    padding: 10px 30px;
    margin: 23px auto;
}